* {
    text-decoration: none !important;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondopatron.jpg);
}

/* NAVBAR*/

.navbar-nav {
    margin: 0 auto;
}

/* TARJETA DE PRODUCTO */

.card-body a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.card-body a:hover {
    color: rgb(247, 199, 226);
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.card {
    margin: 10px;
    border: none !important;
}

.col {
    padding: 20px;
}

.product img {
    width: 100%;
}

.productos {
    margin-top: 50px;
}

/* FOOTER */
.footer {
    background-color: rgb(253, 237, 246);
}

.redes img {
    width: 80%;
}

ul.redes {
    margin: 0 auto;
    padding-inline-start: 0px !important;
    list-style: none;
}

ul.redes {
    padding-inline-start: 40px
}

p {
    margin-bottom: 0 !important;
}

.copy {
    margin-top: 20px;
    font-size: 13px;
}

.fondito {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
}

.accordion-button:not(.collapsed) {
    color: rgb(129, 129, 129);
}

/* PREGUNTAS FRECUENTES */
.tit {
    padding: 15px 0;
}

.accordion {
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 860px) {
    
    
    .navbar-brand {
        margin: 0 auto;
    }
    .product {
        display: flex;
    }

    .navbar-brand {
        margin-left: 30px;
    }

    .redes img {
        width: 100%;
    }

    .fondito {
        font-size: 1rem;
    }
    .foto img{
        max-width: 80%;
        margin: 0 auto;
        border-radius: 4px;
    }
}